<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd" >
<hibernate-configuration>
	<session-factory>
		<!-- 1.配置连接数据库的基本信息 在Spring中配置 -->
		<!-- 2.配置hibernate的基本信息 -->
		<!-- 方言 -->
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
		<!-- 是否显示SQL 开发过程中true 上线是false -->
		<property name="hibernate.show_sql">false</property>
		<!-- 是否格式化SQL -->
		<property name="hibernate.format_sql">false</property>
		<!-- 数据表自动生成的策略 -->
		<property name="hibernate.hbm2ddl.auto">update</property>
		<!-- 3.指定关联的映射文件 在Spring中配置 -->
	</session-factory>
</hibernate-configuration>